@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Inter', sans-serif;
  color: #000000;
  background-color: #ffffff;
}
.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
