<section class="clients">
  <div class="container">
    <div class="clients-wrap">
      <h2 class="clients-title">True Cloud Web Hosting</h2>
      <p class="clients-desk">
        True Cloud Web Hosting All of the hosting packages we offer are deployed
        instantly on our SSD powered cloud. We don’t use dedicated servers that
        operate on single pieces of hardware. Our entire infrastructure is built
        to be reliable, secure, and scalable.
      </p>
    </div>
    <ul class="clients-list list">
      <li class="clients-item">
        <img class="clients-icon" src="./images/cPanel.png" alt="Client" />
      </li>
      <li class="clients-item">
        <img class="clients-icon" src="./images/secured.png" alt="Client" />
      </li>
      <li class="clients-item">
        <img class="clients-icon" src="./images/litespeed.png" alt="Client" />
      </li>
      <li class="clients-item">
        <img class="clients-icon" src="./images/softaculous.png" alt="Client" />
      </li>
      <li class="clients-item">
        <img class="clients-icon" src="./images/wordpress.png" alt="Client" />
      </li>
      <li class="clients-item">
        <img class="clients-icon" src="./images/cloudfire.png" alt="Client" />
      </li>
    </ul>
  </div>
</section>
