<footer class="footer">
  <div class="container">
    <div class="footer-wrap">
      <div class="footer-box">
        <img
          src="./images/logo-footer.png"
          alt="Logotype"
          class="footer-logo"
        />
        <p class="footer-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
          purus sit amet luctus venenatis, lectus magna fringilla urna,
          porttitor rhoncus dolor purus non enim praesent elem
        </p>
      </div>
      <ul class="footer-list list">
        <li>
          <h3 class="footer-headline">Service</h3>
          <ul class="footer-list-list list">
            <li class="footer-item">Domain</li>
            <li class="footer-item">Shared Hosting</li>
            <li class="footer-item">Cloud Hosting</li>
            <li class="footer-item">Private Hosting</li>
          </ul>
        </li>
        <li>
          <h3 class="footer-headline">Hosting</h3>
          <ul class="footer-list-list list">
            <li class="footer-item">Cheap Hosting</li>
            <li class="footer-item">Hosting Wordpress</li>
            <li class="footer-item">Email Hosting</li>
            <li class="footer-item">Hosting Unlimited</li>
          </ul>
        </li>
        <li>
          <h3 class="footer-headline">Company</h3>
          <ul class="footer-list-list list">
            <li class="footer-item">About</li>
            <li class="footer-item">Career</li>
            <li class="footer-item">Contact Us</li>
          </ul>
        </li>
        <li>
          <h3 class="footer-headline">Help</h3>
          <ul class="footer-list-list list">
            <li class="footer-item">FAQ</li>
            <li class="footer-item">Help support</li>
          </ul>
        </li>
      </ul>
    </div>
    <p class="footer-rights">
      Built by Jeremiah with ♥︎ in Lagos. Copyright 2021
    </p>
  </div>
</footer>
