<header class="header">
  <div class="container">
    <img class="header-logotype" src="./images/logo.png" alt="Logotype" />
    <div class="header-wrap">
      <a href="#" class="header-services link">Our Services</a>
      <nav>
        <ul class="header-list list">
          <li class="header-item">
            <a href="#" class="header-services link">About </a>
          </li>
          <li class="header-item">
            <a href="#" class="header-services link">Blog&News </a>
          </li>
          <li class="header-item">
            <a href="#" class="header-services link">Contact </a>
          </li>
        </ul>
      </nav>
      <div class="header-contact-block">
        <a href="#" class="header-services account-link link">Account</a>
        <svg class="header-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-phone"></use>
        </svg>
        <a href="tel:2349067322844" class="header-services link">
          +2349067322844
        </a>
      </div>
    </div>
  </div>
</header>
