<section class="hero">
  <div class="container">
    <div class="hero-wrap">
      <ul class="hero-list list">
        <li class="hero-item active">Hosting</li>
        <li class="hero-item">Domain</li>
        <li class="hero-item">SEO</li>
        <li class="hero-item">Email</li>
      </ul>
      <h1 class="hero-title">Premium Web Hosting for Your Website</h1>
      <p class="hero-desc">
        Blazing fast web hosting for individuals and businesses of all sizes
        backed by 24x7x365 Support.
      </p>
      <div class="hero-btn-wrap">
        <button type="button" class="hero-btn create-acc">
          Create an Account
        </button>
        <button type="button" class="hero-btn choose-plan">
          Choose your plan
        </button>
      </div>
    </div>
    <img src="./images/hero-img.png" alt="girl" class="hero-img" />
  </div>
</section>
